.content {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 50%;
    border-radius: 100px;
}

.products {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px 10px 30px 10px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

.titles {
    display: flex;
    justify-content: space-around;
}

.product p {
    margin: 5px;
}

.product img {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}

.Summary {
    width: 30%;
}

.SummaryItems {
    width: 100%;
    background-color: white;
    border-radius: 8px;
    margin: 0px;
    border: 1px solid rgb(197, 197, 197);
    padding: 20px;
}

.SummaryTitle {
    font-size: 30px;
    font-weight: 600;
}

.checkoutBtn {
    background-color: #0077b6;
    color: #fff;
    width: 100%;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
}


.removeBn {
    background-color: rgb(255, 66, 66);
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: white;
}