
.statistics {
    display: flex;
    justify-content: center;
}

.statistic {
    margin: 5px;
    padding: 20px;
    width: 190px;
    height: 100px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    display: flex;
    justify-content: space-between;
}

.statistic_title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.statistic_value {
    font-size: 20px;
}

.orders {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.order {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #f6fff8;
}

.order img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-color: darkkhaki;
}

.order p {
    width: 150px;
    margin-bottom: 0px;
}

.orderTitle {
    width: 300px;
}

