.header {
    display: flex;
    justify-content: space-between;
}

.header p {
    font-size: 30px;
    font-weight: 800
}

.header button {
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 3px;
}

.products {
    display: flex;
    flex-direction: column-reverse;
}

.product {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #f6fff8;
}


.product p {
    width: 150px;
    margin-bottom: 0px;
}

.productTitle {
    width: 300px;
}